/* <!-- FOOTER --> */
.footer-text {
    background-color: var(--footer-background-color);
    font-size: 18px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    padding: 50px 0;
    &__p {
        max-width: 540px;
        width: 100%;
        text-align: center;
        color: var(--main-text-color);
    }
}
@media (min-width: 360px) and (max-width: 768px) {
    /* <!-- FOOTER --> */
    .footer-text {
        font-size: 15px;
        &__p {
            max-width: 340px;
            width: 100%;
        }
    }
}
