/* <!-- main-introducing-pied-piper-coin --> */
.main-introducing-pied-piper-coin {
    padding: 48px 10px 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    &__p-img {
        display: flex;
        gap: 48px;
        align-items: center;
        &_attr {
            max-width: 930px;
            width: 100%;
            font-size: 32px;
            font-weight: 400;
            &_italic {
                font-style: italic;
            }
        }
    }
    &__p {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
}
